<html>
<head>
    <title>Chat</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid">
		<header>
		</header>
    <div class="row">
      <div class="col-md-9">
    		<table id='chessBoard' cellpadding="0" cellspacing="0">
    		</table>
      </div>
      <div class="col-md-3">
        <div class="row">
          LeaderBoard:
          <table class="table" id="LeaderBoardTable">
          </table>
        </div>
        <div class="row">
          Status:
          <table class="table">

            <tr id="setUserNameRow">
              <td id="setName">
                <div class="form-inline">
                  <input id="userNameText" type="text"
                          class="form-control" placeholder="Input Username">
                  <button id="setUserNameBtn" type="button"
                          class="btn btn-default">SetUserName</button>
                </div>
              </td>
            </tr>

            <tr id="userNameRow">
              <td>Username:</td>
              <td id="username"></td>
              <td></td>
              <td></td>
            </tr>

            <tr id="lengthRow">
              <td>Length:</td>
              <td id="snakeLength"></td>
              <td></td>
              <td></td>
            </tr>

            <tr id="yourSnake">
              <td>Your Snake:</td>
              <td id="snakeColor">
               <tr>
                 <td class="tdColor"></td>
                 <td class="tdColor"></td>
                 <td class="tdColor"></td>
               </tr>
             </td>
             <td></td>
             <td></td>
           </tr>

         </table>
        </div>
        <div class="row">
          Chat Room:
          <div class="pre-panel panel-default pre-scrollable">
            <div id="chatroom" class="panel-body">
              <% messages.forEach(function(msg){ %>
                  <p> <%= msg.username %>  :  <%= msg.message %> </p>
              <% }) %>
            </div>
          </div>
          <form id="sendMsgRow" class="form-inline">
            <input id="msgText" type="text" class="form-control" placeholder="Text input">
            <button id="sendMsgBtn" type="button" class="btn btn-default">Send</button>
          </form>
        </div>
      </div>
    </div>
		<div id='status'></div>
	</div>
</body>
</html>
