<html>
 <title> banwordsList </title>
	<div><h2> Banned Words are listed in the following</h2><div>
	<% messages.forEach(function(msg){ %>
		<div> <h3> <%= msg.banWords %> </h3> </div>
	<% }) %>
</html>